/* .Header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 4px black;
    padding: .4rem .9rem;
} */
/* .Header img{
    height: 40px;
    width: 40px;
} */
/* .header-section{
    display: flex;
    gap: 1.6rem;
} */
#Compressed-logout{
    margin-top: 6rem;
}


/* .DataScreen{
    padding-top: 2rem;
} */
/* .DataScreen .heading{
    color: #1a1a1a;
    font-size: 30px;
} */
/* .DataScreen-data-filter, .DataScreen-dates , .DataScreen-dates-filters{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.DataScreen-dates {
    gap: 1.2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(185, 185, 185);
}
.Datascreen-date{
    font-size: 15px;
}

.DataScreen-dates-filters{
    gap: 2rem;
}
.DataScreen-dates-filters img{
    width: 40px;
    height: 40px;
    border: .1px solid rgb(142, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    border-radius: 10px;
}

.DataCreen-group-chart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    padding: 1.2rem 0;
} */
/* .DataCreen-group-container{
    border: 1.3px solid rgb(142, 141, 141);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .9rem ;
    gap: .6rem;
} */

/* .DataCreen-group-container img{
    width: 30px;
} */
/* .DataCreen-group-container-number{
    font-size: 30px;
    font-weight: 800;
}
.DataCreen-group-container-text{
    font-size: 14px;
    color: #797979;
} */
/* .group-wrapper .warning-img{
    width: 20px;
} */
/* .group-wrapper{
    display: flex;
    align-items: center;
    gap: .3rem;
} */
/* #group-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .DataCreen-group-container-text-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
} */
/* #DataCreen-group-container-Chart{
    width: 70px;
} */
/* .Data_Screen_Chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .Chart-screen-wrappers{
    border: 1px solid rgb(142, 141, 141) ;
    padding: 10px;
    border-radius: 10px;
} */

/* #Chart-screen-wrappers-with-chart{
    width:600px;   
} */
/* #Chart-screen-wrappers-without-chart{
    width: 450px;
    height: 345px;
} */
/* .Chart-screen-wrappers-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .chart-screen-heading{
    font-size: 19px;
} */
/* .chart-screen-select{
    padding: 2px;
    border-radius: 3px;
    outline: none;
} */

/* .DataScreen_History{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: .1px solid rgb(142, 141, 141);
    padding: 1.2rem;
    border-radius: 10px;
} */
/* .data_screen-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

} */
/* .data-screen-select-date{
    display: flex;
    align-items: center;
    border: .1px solid rgb(142, 141, 141);
    padding: 3px;
    border-radius: 10px;
    gap: 5px;
}
.data-screen-select-date img{
    height: 30px;
} */
/* .data-screen-search{
    position: relative;
    display: flex;
    align-items: center;
} */
/* .data-screen-search img{
    position: absolute;
} */

/* .data-screen-history-input{ 
    outline: none;
}
#data-screen-history-input{
    min-width: 18rem;
    padding: .5rem .6rem .6rem 2.3rem;
    border-radius: 5px 0 0 5px;
    border: .1px solid rgb(142, 141, 141);
} */
/* #data-screen-history-submit{
    padding: .6rem 1.3rem;
    color: white;
    background: #a3ff47;
    border: none ;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
} */
table{
    width: 100%;
    margin-top: 1.5rem;
}
table .top-table{
    border: 2px solid red;
    border-collapse: collapse;
    width: 100%;
    height: 40px;
    background: #797979;
}

/* .chart-screen-history-select{
    border: none;
    outline: none;
} */

.data-screen-search{
    display: flex;
    align-items: center;
    position: relative;
}


/* .CompressedNav{
    background: #393939;
    display: flex;
    justify-content: space-between;
    padding-left: 1.1rem;
    flex-direction: column;
    min-height: 100vh;
    width: 90px;
    padding-bottom: 5rem;
} */
/* a{
    
    display: flex;
    align-items: center;
    padding: 12px 0;
    padding-left: .8rem;
    gap: 10px;
    
}

a:hover{
    background: #a3ff47;
    border-left: 4px solid #4b9302;
} */
/* .sidenav-compressed{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.2rem;
} */
/* .side-nav-compressed-feature{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
   
} */
/* .side-nav-img{
    height: 40px;
    width: 30px;
    cursor: pointer;
} */
/* #logo{
    height: 80px;
    width: 60px;
} */