:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --clipPathStart: 0% 30%;
  --clipPathEnd: 100% 30%;
  --accentColor: #70e000;
  --lightAccentColor: #a3ff47;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* reasonable */
/* clip-path: polygon(0 30%, 16% 36%, 37% 39%, 54% 36%, 74% 29%, 93% 34%, 100% 40%, 100% 99%, 0% 99%); */

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 5px;
}
.monitor {
  border-right: 1px #d6d6d6 solid;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

@media (max-width: 900px) {
  .main {
    display: block;
  }
}
