.darkBG {
  background-color: rgb(214, 210, 210);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 840px;
  height: 592px;
  background: white;
  color: white;
  z-index: 20;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}


.modalContent {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  padding-top: 80px;
}

.h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'inter',;
  color:#1A1A1A;
  line-height: 48.41px;
  

}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  font-weight: 500;
  border-radius: 8px;
  border: white;
  font-size: 50px;
  color:black;
  background: white;
  position: absolute;
  right: 10px;
  top: 10px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}



.dashboardBtn {
  margin-bottom: 50px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 5px;
  font-size: 19px;
  border: #70E000;
  gap: 10px;
  color: #FFFFFF;
  background: #70E000;
  transition: all 0.25s ease;
}

.dashboardBtn:hover {
  background: #70E000;
}

.DoneBtn {
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  border: #70E000;
  color: white;
  background: #70E000;
  transition: all 0.25s ease;
}

.DoneBtn:hover {
  background: #70E000;
}